@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

* {
    /* 여기 잘해봐야함 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}
#lastline::after {
    background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    display: flex;
    content: '';
    width: 300px;
    height: 2px;
    margin: 0.7em auto 1em auto;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
}
img {
    width: 300px;
    height: 300px;
    background-size: auto;
}
.image img{
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

    display: inline-block;
    margin-left: 4em;
    padding: 0.65em;
    border: solid 1px;
}
p{
    text-align: center;
}
body {
    min-width: 430px;
    max-width: 430px;
    height: auto;
    margin: 0 auto;
    font-family: 'Noto Sans KR';
}
#main {
    background-color: antiquewhite;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.state {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8cc9f0;
    margin: 10px;
}
#expect {
    margin: 15px;
}
#sum {
    margin-bottom: 0px;
}