@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0;
}

a, input {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 430px;
    height: 100vh;
    margin: auto;
}

#main {
    display: flex;
    text-align: center;
    margin-top: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main p.msg {
    color: #343837;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.9px;
    text-transform: lowercase;
}

#main p.addmsg {
    all: unset;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    color: #343837;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.9px;
    text-transform: lowercase;
}

#main div.submit {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.user-input {
    width: 180px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background: #F3F5F6;
    margin-right: 10px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.8px;
    text-transform: uppercase;
    color: #727272;
}

.title {
    text-align: center;
    margin-top: 34px;
    margin-bottom: 19px;
}

#back {
    background-image: url('/img/icoBack.png');
    position: absolute;
    top: 33px;
    left: 22px;
    margin: 0px;
    width: 28px;
    height: 28px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#title {
    color: #343837;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.9px;
    text-transform: lowercase;
}

hr {
    background: #D9D9D9;
    height:1px;
    border:0;
}


input.okbtn {
    width: 40px;
    height: 40px;
    border: none;
    display: block;
    background-color: #F28585;
    border-radius: 10px;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

input.okbtn.check {
    width: 100%;
}





