<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page</title>

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/combobox.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <div class="title">
        <button id="back" onclick="history.go(-1)"></button>
        <span id="title">스드메이트 견적받기 설문</span>
    </div>
    <hr style="width: 100%" />
    <div class="questionbox">
        <p id="curruntpage"></p>
        <div id="page-indicators">
            <div class="page-indicator" id="page1"></div>
            <div class="page-indicator" id="page2"></div>
            <div class="page-indicator" id="page3"></div>
            <div class="page-indicator" id="page4"></div>
            <div class="page-indicator" id="page5"></div>
            <div class="page-indicator" id="page6"></div>
            <div class="page-indicator" id="page7"></div>
        </div>
        <p id="question">질문</p>
    </div>
    <div id="container">
<!-- 
        <div class="page" id="page1">Page 1 Content</div>
        <div class="page" id="page2">Page 2 Content</div>
        <div class="page" id="page3">Page 3 Content</div>
        <div class="page" id="page4">Page 4 Content</div>
        <div class="page" id="page5">Page 5 Content</div>
        <div class="page" id="page6">Page 6 Content</div>
        <div class="page" id="page7">Page 7 Content</div> -->

        <!-- 페이지 내용이 여기에 동적으로 삽입됩니다. -->
    </div>
    <hr style="width: 100%" />
    <footer>
        <div style="line-height: 16px;"><br></div>
        <span>
            <button class="previous">뒤로가기</button>
            &nbsp&nbsp&nbsp&nbsp&nbsp
            <button class="next">다음으로</button>
        </span>
    </footer>
</body>
<script src="/js/script.js"></script>


</html>
