<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 1920px; height: 1080px; position: relative; background: white">
        <img class="Sdmatedescription1" style="width: 1920px; height: 1080px; left: 0px; top: 0px; position: absolute" src="/img/sdmatedescription.png" />
        <img class="ArrowRight2" style="width: 29px; height: 28px; left: 45px; top: 27px; position: absolute; transform-origin: 0 0" src="/img/back_btn.png" />
    </div>
</body>
<script>
    var ArrowRight2 = document.querySelector('.ArrowRight2');
    ArrowRight2.addEventListener('click', function(){
        history.back();
    });
</script>
</html>
