<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>진행상황</title>
        <link rel="stylesheet" href="/css/estimate_planner.css" />
        <script src="/js/estimate_planner.js"></script>
    </head>
    <body>
        <div id="main">
            <div id="plannerInfo"></div>
            <div id="except"></div>
            <div class="box">
                <p class="state">상담예약</p>
                <p class="state">계약완료</p>
                <p class="state">계약종료</p>
            </div>
        </div>
    </body>
</html>
