<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>sdmate</title>
        <link rel="stylesheet" href="/css/estimate_planner_check.css" />
    </head>
    <body>
        <div id="title">
            <button id="back" class="button-back"></button>
            <span class="title">예상 견적 작성 </span>
            <button class="Comment1" id="hrefChat"></button>
            <p id="mno" th:text="${member.getMemberNo()}" hidden></p>
            <p id="pno" th:text="${planner.getPlannerNo()}" hidden></p>
            <p id="rno" th:text="${requirement.getRequirementNo()}" hidden></p>
            <p id="sno" th:text="${specification.getSpecificationNo()}" hidden></p>
        </div>
        <hr />
        <div id="main">
            <div id="userInfo">
                <div id="userimage">
                    <section id="identity">
                        <div class="image">
                            <img th:src="${'data:image/jpeg;base64,' + encoded}" alt="기본이미지">
                            <p th:text="${member.name + ' 고객님'}"></p>
                            <div id="userInfoDiv">

                                <p id="userArea" th:text="${requirement.q1City + ' ' + requirement.q1Gu}"></p>
                            </div>
                            <p class="lastline"></p>
                        </div>
                    </section>
                </div>

            </div>
            <div id="exceptTitle" th:text="${ member.name + ' 고객님이 원하는 견적' }"></div>
            <div id="exceptMoney">
                <p th:text="${requirement.q7Estimate}"></p>
            </div>
            <p class="lastline"></p>

            <div id="detailA">
                <div class="margindiv">
                    <div class="except">
                        <button id="showA" class="button-with-image"></button>
                        <div class="package">
                            <p class="questionTitle">예식장 & 뷔페 예상견적</p>
                            <p class="price" id="wedding_hall_price" th:text="${specification.weddinghall}"></p>
                        </div>
                    </div>
                    <div id="A" class="invi">
                        <div class="row">
                            <p class="detailA Margin10px" th:text="${requirement.q1City}"></p>
                            <p class="detailA Margin10px" th:text="${requirement.q1Gu}"></p>
                            <p class="detailA Margin10px" th:text="${requirement.q1_guestno}"></p>
                        </div>
                        <p class="detailC Margin10px" th:text="${requirement.q1Date}"></p>
                    </div>
                </div>
            </div>
            <div id="detailB">
                <div class="margindiv">
                    <div class="except">
                        <button id="showB" class="button-with-image"></button>
                        <div class="package">
                            <p class="questionTitle">본식의상 예상견적</p>
                            <p class="price" id="cloth_price" th:text="${specification.dress}"></p>
                        </div>
                    </div>
                    <div id="B" class="invi">
                        <div class="row">
                            <p class="detailB Margin10px" th:text="${'신부 드레스:'+requirement.q2_dress}"></p>
                            <p class="detailB Margin10px" th:text="${'신랑 정장:'+requirement.q2_suit}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="detailC">
                <div class="margindiv">
                    <div class="except">
                        <button id="showC" class="button-with-image"></button>
                        <div class="package">
                            <p class="questionTitle">본식 부모님 의상 예상견적</p>
                            <p class="price" id="parents_cloth_price" th:text="${specification.parentsdress}"></p>
                        </div>
                    </div>
                    <div id="C" class="invi">
                        <div class="row">
                            <p class="detailB Margin10px" th:text="${'신부어머니 한복:'+requirement.q3_Fmom_hanbok}"></p>
                            <p class="detailB Margin10px" th:text="${'신부아버지 정장:'+requirement.q3_Fdad_suit}"></p>
                        </div>
                        <div class="row">
                            <p class="detailB Margin10px" th:text="${'신랑어머니 한복:'+requirement.q3_Mmom_hanbok}"></p>
                            <p class="detailB Margin10px" th:text="${'신랑아버지 정장:'+requirement.q3_Mdad_suit}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="detailD">
                <div class="margindiv">
                    <div class="except">
                        <button id="showD" class="button-with-image"></button>
                        <div class="package">
                            <p class="questionTitle">본식촬영 예상견적</p>
                            <p class="price" id="shot" th:text="${specification.photo}"></p>
                        </div>
                    </div>
                    <div id="D" class="invi">
                        <div class="row">
                            <p class="detailB Margin10px" th:text="${'사진:'+requirement.q4_wedding_photo}"></p>
                            <p class="detailB Margin10px" th:text="${'동영상:'+requirement.q4_wedding_video}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="detailE">
                <div class="margindiv">
                    <div class="except">
                        <button id="showE" class="button-with-image"></button>
                        <div class="package">
                            <p class="questionTitle">스튜디오 촬영 예상견적</p>
                            <p class="price" id="studio" th:text="${specification.studio}"></p>
                        </div>
                    </div>
                    <div id="E" class="invi">
                        <div class="row">
                            <p class="detailB Margin10px" th:text="'사진:'+ ${  requirement.q5_studio_photo }"></p>
                            <p class="detailB Margin10px" th:text="'동영상:'+ ${  requirement.q5_studio_video }"></p>
                        </div>
                        <p class="detailB Margin10px" th:text="'메이크업:'+ ${  requirement.q5_studio_makeup }"></p>
                        <p class="detailC Margin10px" th:text="'신부의상:'+${ requirement.getQ5_bride_cloth()}"></p>
                        <p class="detailC Margin10px" th:text="'신랑의상:'+${ requirement.getQ5_groom_cloth()}"></p>
                    </div>
                </div>
            </div>
            <div id="detailF">
                <div class="margindiv">
                    <div class="except">
                        <button id="showF" class="button-with-image"></button>
                        <div class="package">
                            <p class="questionTitle">스냅 촬영 예상견적</p>
                            <p class="price" id="snap_shot" th:text="${specification.snap}"></p>
                        </div>
                    </div>
                    <div id="F" class="invi">
                        <div class="row">
                            <p class="detailB Margin10px" th:text="'사진:'+ ${  requirement.q6_snap_photo }"></p>
                            <p class="detailB Margin10px" th:text="'동영상:'+ ${  requirement.q6_snap_video }"></p>
                        </div>
                        <div class="row">
                            <p class="detailB Margin10px" th:text="'메이크업:'+ ${  requirement.q6_snap_makeup }"></p>
                            <p class="detailB Margin10px" th:text="'장소:'+ ${  requirement.q6_snap_place }"></p>
                        </div>
                        <p class="detailC Margin10px" th:text="'신부의상:'+${ requirement.getQ6_snap_bride_cloth()}"></p>
                        <p class="detailC Margin10px" th:text="'신랑의상:'+${ requirement.getQ6_snap_groom_cloth()}"></p>
                    </div>
                </div>
            </div>
            <p class="lastline"></p>
            <div id="estimateSum" class="Margin20px">
                <p>
                    총 예상 견적
                </p>
                <p id="sum" th:text="${specification.sum}">

                </p>
            </div>
            <p class="lastline"></p>
            <p id="hiddenParagraph" hidden th:text="${specification.state}"></p>
            <div id="footDiv" class="margindiv row">
                <button class ="Stage" id="Consultation_reservation">상담예약</button>
                <div class="vertical-dotted-line"></div>
                <button class ="Stage" id="contract">계약완료</button>
                <div class="vertical-dotted-line"></div>
                <button class ="Stage" id="sendRequest">계약종료</button>
               
            </div>

        </div>
    </body>
    <script src="/js/estimate_planner_check.js"></script>

    <script>

        let backBtn = document.getElementById("back");
        backBtn.addEventListener("click",backsend);
        function backsend(){
            let pnoText = document.getElementById("pno").textContent;
            let pno = "plannerNo="+pnoText;

            window.location.href= "/planner/viewMySpecification?" + pno;
        }
    </script>

<script th:inline="javascript">
    var hiddenParagraph = document.getElementById("hiddenParagraph");
    var reservation = document.getElementById("Consultation_reservation");
    var contract = document.getElementById("contract");
    var sendRequest = document.getElementById("sendRequest");

    var textValue = hiddenParagraph.textContent;
    if(textValue === "0") {
        reservation.classList.add("stateOn");
        contract.classList.add("stateOff");
        sendRequest.classList.add("stateOff");
    }
    if(textValue === "1") {
        reservation.classList.add("stateOff");
        contract.classList.add("stateOn");
        sendRequest.classList.add("stateOff");
    }
    if(textValue === "2") {
        reservation.classList.add("stateOff");
        contract.classList.add("stateOff");
        sendRequest.classList.add("stateOn");
    }
</script>
</html>
