<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>견적 리스트 보기</title>
        <link rel="stylesheet" href="/css/estimate_member.css" />
    </head>
    <body>
        <div id="title">
            <button id="back" class="button-back"></button>
            <span class="title"> 상세견적 및 플래너 정보 </span>
        </div>
        <hr />
        <div id="main">
            <div id="plannerInfo"></div>
            <div id="exceptTitle">김민성 고객님이 원하는 견적</div>
            <div id="exceptMoney">
                <p>500만원 ~ 1,000만원</p>
            </div>
            <p class="lastline"></p>

            <div id="detailA">
                <div class="margindiv">
                    <div class="except">
                        <button id="showA" class="button-with-image"></button>
                        <div class="package">
                            <p class="questionTitle">예식장 & 뷔페 예상견적</p>
                            <p class="price">4,000,000원</p>
                        </div>
                    </div>
                    <div id="A" class="invi">
                        <div class="row">
                            <p class="detailA Margin10px">부산광역시</p>
                            <p class="detailA Margin10px">부산진구</p>
                            <p class="detailA Margin10px">150명 이하</p>
                        </div>
                        <p class="detailC Margin10px">2023년 11월 11일</p>
                    </div>
                </div>
            </div>
            <div id="detailB">
                <div class="margindiv">
                    <div class="except">
                        <button id="showB" class="button-with-image"></button>
                        <div class="package">
                            <p class="questionTitle">본식의상 예상견적</p>
                            <p class="price">400,000원</p>
                        </div>
                    </div>
                    <div id="B" class="invi">
                        <div class="row">
                            <p class="detailB Margin10px">신부 드레스:대여</p>
                            <p class="detailB Margin10px">신랑 정장:직접</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="detailC">
                <div class="margindiv">
                    <div class="except">
                        <button id="showC" class="button-with-image"></button>
                        <div class="package">
                            <p class="questionTitle">본식 부모님 의상 예상견적</p>
                            <p class="price">200,000원</p>
                        </div>
                    </div>
                    <div id="C" class="invi">
                        <div class="row">
                            <p class="detailB Margin10px">신부어머니 한복:대여</p>
                            <p class="detailB Margin10px">신부아버지 정장:직접</p>
                        </div>
                        <div class="row">
                            <p class="detailB Margin10px">신랑어머니 한복:직접</p>
                            <p class="detailB Margin10px">신랑아버지 정장:직접</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="detailD">
                <div class="margindiv">
                    <div class="except">
                        <button id="showD" class="button-with-image"></button>
                        <div class="package">
                            <p class="questionTitle">본식촬영 예상견적</p>
                            <p class="price">200,000원</p>
                        </div>
                    </div>
                    <div id="D" class="invi">
                        <div class="row">
                            <p class="detailB Margin10px">사진:필요</p>
                            <p class="detailB Margin10px">동영상:필요</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="detailE">
                <div class="margindiv">
                    <div class="except">
                        <button id="showE" class="button-with-image"></button>
                        <div class="package">
                            <p class="questionTitle">스튜디오 촬영 예상견적</p>
                            <p class="price">400,000원</p>
                        </div>
                    </div>
                    <div id="E" class="invi">
                        <div class="row">
                            <p class="detailB Margin10px">사진:필요</p>
                            <p class="detailB Margin10px">동영상:필요</p>
                        </div>
                        <p class="detailB Margin10px">메이크업:둘다필요</p>
                    </div>
                </div>
            </div>
            <div id="detailF">
                <div class="margindiv">
                    <div class="except">
                        <button id="showF" class="button-with-image"></button>
                        <div class="package">
                            <p class="questionTitle">스냅 촬영 예상견적</p>
                            <p class="price">500,000원</p>
                        </div>
                    </div>
                    <div id="F" class="invi">
                        <div class="row">
                            <p class="detailB Margin10px">사진:필요</p>
                            <p class="detailB Margin10px">동영상:필요</p>
                        </div>
                        <div class="row">
                            <p class="detailB Margin10px">메이크업:둘다필요</p>
                            <p class="detailB Margin10px">장소:지역내</p>
                        </div>
                        <p class="detailC Margin10px">신부의상:드레스,한복,직접준비</p>
                        <p class="detailC Margin10px">신랑의상:직접준비</p>
                    </div>
                </div>
            </div>
            <p class="lastline"></p>
            <div id="estimateSum" class="Margin20px">
                <p>
                    총 예상 견적
                </p>
                <p id="sum">
                    5,700,000원
                </p>
            </div>
            <p class="lastline"></p>
<!-- 
            <div class="box">
                <p class="state">상담예약</p>
                <p class="state">계약완료</p>
                <p class="state">계약종료</p>
            </div> -->
            <div id="footDiv" class="margindiv row">
                <button id="hrefChat">채팅하기</button>
                <button id="hrefReservation">예약하기</button>
            </div>

        </div>
    </body>
    <script src="/js/estimate_member.js"></script>
</html>
