<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="/css/findpwstyle.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div>
        <div class="Line10"></div>
        <img class="ArrowRight1" src="/img/icoBack.png" onclick="history.back()"/>
        <div class="Title" >아이디 찾기</div>
        <div class="Group91" >
          <div class="Description" >찾고싶은 계정의 이메일을<br/>입력해 주세요</div>
          <div class="Group89" >
            <div class="Textinput" >
              <input type="text" class="input planner" name="email" placeholder="E-MAIL"></input>
            </div>
            <div class="Okbtn" >
              <button class="OkbtnBackground planner" id="okbtn" >OK</button>
            </div>
          </div>
        </div>
      </div>
</body>
<script src="/js/findid.js"></script>
</html>