<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>스드메이트</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="/css/main.css">
    <noscript>
        <link rel="stylesheet" href="/css/noscript.css"/>
    </noscript>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body class="is-preload">
<a href="./main"><img class="toplogo" src="/img/logo_pink.png" alt=""/></a>
<li class="ham-btn" onclick="goOut()">
    <a class="menu-trigger" >
        <span></span>
        <span></span>
        <span></span>
    </a>
</li>
<div class="topbannerbg">
    <div class="topbanner">
        <div class="textbox">
            <p class="topbannertext"> 어떻게 결혼 준비를 해야할 지 고민인가요?</p>
            <p class="topbannertext strong">결혼준비 가이드를 확인하세요.</p>
        </div>
        <img class="topimg" src="/img/guide.png" >
        <div class="guidebtn">
            <a href="https://www.ssrowedding.com/pc/html/ssr/guide_list.php"><p class="go">바로가기 →</p></a>
        </div>
    </div>
</div>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        <input type="file" id="fileInput" style="display: none;">
        <label for="fileInput">
            <img src="/img/p1.png" id="headerImage" alt="Header Image">
        </label>
        <!-- <img src="/img/p1.png"> -->
        <h1 id = "name" style="text-align:left">안녕하세요!<img src="/img/signature.png" alt=""></h1>
        <p style="text-align:left">원하는 결혼과정을 선택하고, 지금 바로 견적을 받아보세요!</p>
        <ul class="actions">
            <li><a href="./answer" class="button primary">스드메이트 견적받기</a></li>
        </ul>

    </header>

    <!-- Main -->
    <div id="main">
        <div class="chat_wrap">
            <p class="newtext" th:text="${stateString}"></p>
            <div class="chat_wrapper">
                <a>
                    <img id="connectChat" class="chaticon" src="/img/comment%201.png" alt=""/>
                    <p id="mno" th:text="${memberNo}" hidden></p>
                    <p id="pno" th:text="${plannerNo}" hidden></p>

                </a>
            </div>
        </div>
        <section id="intro" class="main">
            <div class="spotlight">
                <div class="content">
                    <ul id="card" class="statistics">
                        <li th:each="c : ${card}" class="style" >
                            <div class="plannerinfo">
                                <a id="linkToController" th:href="@{/viewSpecification(specification=${c.specificationNo})}">
                                    <strong>
                                        견적금액&nbsp;&nbsp;&nbsp;<span th:text="${c.sum}"></span>&nbsp;<img class="strong image right" src="/img/Polygon%2010.png" alt="">
                                        <input id="saveValue" type="hidden">
                                    </strong>
                                </a>
                                <p class="planner" >
                                    <a  class="info" href="main.html" >

                                        <img class="signature" src="/img/signature.png" alt="">
                                        &nbsp;&nbsp;<span th:text="${c.rating}"></span>&nbsp;(<span th:text="${c.reviewCnt}"></span>개의 평점) / 최근거래 <span th:text="${c.dealCnt}"></span>개
                                    </a>
                                    <a class="profile" href="main.html">
                                        <img class="profile" th:src="${'data:image/jpeg;base64,' + c.plannerImg}" alt="Planner Image">
                                        <span th:text="${c.businessName}"></span>
                                    </a>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Menu -->
        <div class="ham-con">
            <div id="ham-menu-wrap">
                <div class="ham-menu mt-5">
                    <ul class="ham-top-menu">
                        <li><a href="#">마이페이지<i class="bi bi-caret-down-fill"></i></a>
                            <ul class="ham-sub-menu">
                                <li><a href="/board/category/1?page=0">회원정보수정</a></li>
                            </ul>
                            <br>
                        </li>
                    </ul>
                    <ul class="ham-top-menu">
                        <li><a href="#">견적 요청<i class="bi bi-caret-down-fill"></i></a>
                            <ul class="ham-sub-menu">
                                <li><a href="/item/category/1?page=0">채팅방 목록</a></li>
                                <li><a href="/item/category/8?page=0">견적서 목록</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <section>
            <img src="/img/logo_pink.png" width="20%" ; style="margin-bottom: 20px;">
            <dl class="alt">
                <dd>부산광역시 부산진구 중앙대로 749 그린컴퓨터 서면 2별관</dd>
                <dd>(051) 715-6224</dd>
                <dd><a href="#">yxxn.dev@gmail.com</a></dd>
            </dl>
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a>
                </li>
                <li><a href="#" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a>
                </li>
                <li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
                <li><a href="#" class="icon brands fa-dribbble alt"><span class="label">Dribbble</span></a></li>
            </ul>
        </section>
        <p class="copyright" style="text-align: center;">&copy; Untitled. Design: <a href="https://html5up.net"
                                                                                     style="text-decoration-line: none;"><img
                src="/img/logo_pink.png" width="15%" ;></a></p>
    </footer>

    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/browser.min.js"></script>
    <script src="/js/breakpoints.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/hammenu.js"></script>
</div>
</body>
</html>


<script th:inline="javascript">



    var member = /*[[${#session.getAttribute("member") != null ? #session.getAttribute("member") : 'defaultValue'}]]*/ 'defaultValue';


    var nameTag = document.getElementById("name");


    nameTag.innerText = "안녕하세요! " + member.name + " 님";

    let chatBtn = document.getElementById("connectChat");

    chatBtn.addEventListener("click",link);

    function link(){
        let mnoText = document.getElementById("mno").textContent;
        let pnoText = document.getElementById("pno").textContent;
        let mno = "memberNo="+mnoText;
        let pno = "plannerNo="+pnoText;
        console.log(mno);
        window.location.href="/memberChat?" + mno + "&" + pno;

    }
</script>

<script>
    document.getElementById("headerImage").addEventListener("click", function() {
        document.getElementById("fileInput").click();
    });
</script>

<script>

    // 햄버거 버튼 클릭 이벤트
    var burger = $('.menu-trigger');

    burger.each(function (index) {
        var $this = $(this);

        $this.on('click', function (e) {
            e.preventDefault();
            $(this).toggleClass('active-' + (index + 1));
        })
    });

    var h = 0;

    $(burger).on("click", function () {
        if (h == 0) {
            $('.ham-con').animate({
                right: '0',
                opacity: 1
            }, 500);
            $(this).addClass('active-1');
            h++;
        } else if (h == 1) {
            $('.ham-con').animate({
                right: '-20%',
                opacity: 0
            }, 500);
            $(this).removeClass('active-1');
            h--;
        }
        $(window).scroll(function () {
            sct = $(window).scrollTop();
            if (sct > 30) {
                $('.ham-con').css({
                    opacity: 0,
                    right: '-20%'
                }, 500);
                $(burger).removeClass('active-1');
                h = 0;
            }
        });
    })
</script>
