<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>main planner</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/mainplanner.css}">
	<link rel="stylesheet" href="/css/mainplanner.css">
	<noscript>
		<link rel="stylesheet" href="/css/noscript.css" />
	</noscript>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body class="is-preload">
<a href="./main"><img class="toplogo" src="/img/logo_green.png" alt="" /></a>
<li class="ham-btn" onclick="goOut()">
	<a class="menu-trigger"	>
		<span></span>
		<span></span>
		<span></span>
	</a>
</li>
<div class="topbannerbg">
	<div class="topbanner">
		<div class="textbox">
			<p class="topbannertext"> 서비스 활용법이 궁금하신가요?</p>
			<p class="topbannertext strong">스드메이트 가이드를 확인하세요.</p>
		</div>
		<img class="topimg" src="/img/guide.png">
		<div class="guidebtn">
			<a href="main.html"><p class="go">바로가기 →</p></a>
		</div>
	</div>
</div>

<!-- Wrapper -->
<div id="wrapper">
	<!-- Header -->
	<div class="chat_wrapper">
		<a href="main.html">
			<img class="new" src="/img/Ellipse 13.png" alt=""/>
			<img class="chaticon" src="/img/comment 1.png" alt=""/>
			<div class="text">8</div>
		</a>
	</div>

	<header id="header" class="alt">
		<h1 id="name" style="text-align:left"><img src="/img/signature.png" alt=""></h1>
		<p style="text-align:left"><span>8</span>&nbsp;명의 고객에게 메시지가 도착했습니다!<br/>
		<ul class="actions">
			<li><a href="./viewMySpecification" class="button primary">내가 보낸 견적서 확인하기</a></li>
		</ul>
	</header>

	<!-- Main -->
	<div id="main">
		<div class="chat_wrap">
			<p class="newtext">내 지역 견적요청&nbsp;(10개)</p>
			<p class="area"><a href="#" onclick="showPopup()">부산</a></p>
			<div class="popup" id="cityPopup">
				<div class="popup-content">
					<ul>
						<li><a href="#" onclick="changeCity('서울')">서울</a></li>
						<li><a href="#" onclick="changeCity('부산')">부산</a></li>
						<li><a href="#" onclick="changeCity('대구')">대구</a></li>
						<li><a href="#" onclick="changeCity('인천')">인천</a></li>
						<li><a href="#" onclick="changeCity('광주')">광주</a></li>
						<li><a href="#" onclick="changeCity('대전')">대전</a></li>
						<li><a href="#" onclick="changeCity('울산')">울산</a></li>
						<li><a href="#" onclick="changeCity('제주')">제주</a></li>
						<li><a href="#" onclick="changeCity('경기')">경기</a></li>
						<li><a href="#" onclick="changeCity('충북')">충북</a></li>
						<li><a href="#" onclick="changeCity('충남')">충남</a></li>
						<li><a href="#" onclick="changeCity('전북')">전북</a></li>
						<li><a href="#" onclick="changeCity('전남')">전남</a></li>
						<li><a href="#" onclick="changeCity('경북')">경북</a></li>
						<li><a href="#" onclick="changeCity('경남')">경남</a></li>
					</ul>
				</div>
			</div>
		</div>

		<section id="intro" class="main">
			<div class="spotlight">
				<div class="content">
					<ul id="card" class="statistics">
						<li th:each="card : ${card}" class="style" >
							<a th:href="@{/viewRequirement(requirement=${ card.requirementPk })}">
								<div class="reqCard">
									<strong>
										요청 견적금액&nbsp;&nbsp;&nbsp;<span  th:text="${card.estimate}"></span>&nbsp;원
										<img class="poligon" src="/img/Polygon 10.png" alt="" >
									</strong>
								</div>
							</a>
							<a class="profile" href="main.html">
								<img class="profile" src="/img/p1.png" alt=""><p class="info"><span th:text="${card.memberName}"></span>고객님</p>
								<span class="areainfo" th:text="${card.city}"></span><span class="areainfo" th:text="${card.gu}"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<!-- Menu -->
		<div class="ham-con">
			<div id="ham-menu-wrap">
				<div class="ham-menu mt-5">
					<ul class="ham-top-menu">
						<li><a href="#">마이페이지<i class="bi bi-caret-down-fill"></i></a>
							<ul class="ham-sub-menu">
								<li><a href="/board/category/1?page=0">회원정보수정</a></li>
							</ul>
							<br>
						</li>
					</ul>
					<ul class="ham-top-menu">
						<li><a href="#">견적 요청<i class="bi bi-caret-down-fill"></i></a>
							<ul class="ham-sub-menu">
								<li><a href="/item/category/1?page=0">채팅방 목록</a></li>
								<li><a href="/item/category/8?page=0">견적서 목록</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<footer id="footer">
		<img src="/img/logo_green.png" width="20%" ; style="margin-bottom: 20px;" >
		<dl class="alt">
			<dd >부산광역시 부산진구 중앙대로 749 그린컴퓨터 서면 2별관</dd>
			<dd>(051) 715-6224</dd>
			<dd><a href="#">yxxn.dev@gmail.com</a></dd>
		</dl>
		<ul class="icons">
			<li><a href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
			<li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
			<li><a href="#" class="icon brands fa-dribbble alt"><span class="label">Dribbble</span></a></li>
		</ul>
		<p class="copyright" style="text-align: center;">&copy; Untitled. Design: <a href="https://html5up.net" style="text-decoration-line: none;"><img src="/img/logo_green.png"></a></p>
	</footer>

	<!-- Scripts -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery.scrollex.min.js"></script>
	<script src="/js/jquery.scrolly.min.js"></script>
	<script src="/js/browser.min.js"></script>
	<script src="/js/breakpoints.min.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/api.js"></script>
	<script src="/js/cityselectpopup.js"></script>
	<script src="/js/hammenu.js"></script>

	</header>
	</section>
</div>
</body>
<script th:inline="javascript">



	var planner = /*[[${#session.getAttribute("planner") != null ? #session.getAttribute("planner") : 'defaultValue'}]]*/ 'defaultValue';

	console.log(planner);
	var nameTag = document.getElementById("name");


	nameTag.innerText = "안녕하세요! " + planner.name + " 님";
</script>
</html>
