<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>sdmate</title>
<!--         <link rel="stylesheet" th:href="@{/css/Mchat.css}"/>-->

    </head>
    <body>
    <p id="mno" th:text="${memberNo}" hidden></p>
    <p id="pno" th:text="${plannerNo}" hidden></p>

        <div id="title">
            <button id="back" class="button-back"></button>
            <span class="title" th:text="${plannerName} + '님과 채팅'"></span>
        </div>
        <hr />
        <div id="bigBox">
            <div id="main">
                <div id="card" th:each="histories : ${histories}" th:class="${histories.who == 'M' ? 'memberChat' : 'plannerChat'}">
                    <p th:text="${histories.content}"></p>
                </div>
                                            <div class="chat-container">
                                                <!-- 여기에 채팅 메시지들을 표시하는 부분이 들어갑니다. -->
                                            </div>
                                            
                                            <div class="chat-input">
                                                <input id="messageInput" type="text" placeholder="메시지를 입력하세요">
                                                <button id="submitButton">전송</button>
                                            </div>
                        
                              
            </div>
            
        </div>
        
    </body>
    <link rel="stylesheet" th:href="@{/css/Mchat.css}"/>
</html>
<script>
    let chatBtn = document.getElementById("submitButton");
    chatBtn.addEventListener("click",send);

    function send(){
        let messageInput = document.getElementById("messageInput");
        let messageValue = messageInput.value;

        let mnoText = document.getElementById("mno").textContent;
        let pnoText = document.getElementById("pno").textContent;
        let mno = "memberNo="+mnoText;
        let pno = "plannerNo="+pnoText;
        let message = "message="+messageValue;
        console.log(message);
        window.location.href="/memberChat?" + mno + "&" + pno + "&" + message;
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    let backBtn = document.getElementById("back");
    backBtn.addEventListener("click",backsend);
    function backsend(){
        let pnoText = document.getElementById("pno").textContent;
        window.location.href= "/viewSpecification?specification="+pnoText;
    }
</script>