<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/logout.css">
</head>
<body>
    <a href=""><img class="back_btn" src="/img/back_btn.png" alt="뒤로가기 버튼" onclick="history.back()"></a>
            <center><h1 class="page_name">로그아웃</h1></center>
    <hr>

    <center><h3 class="logout">로그아웃 하시겠습니까?</h3></center>
    <div class="container">

            <button class="yes"  onclick="window.location.href='./logoutYes'">예</button>
            <button class="no" onclick="window.location.href='./main'">아니오</button>
    </div>
    
</body>
</html>