<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/join.css">
</head>
<body>
            <a href=""><img class="back_btn" src="/img/back_btn.png" alt="뒤로가기 버튼"></a>
            <center><h1 class="page_name">스드메이트 회원가입</h1></center>
    <hr>
    
    <div class="logo">
        <img class="join_logo" src="/img/logo1.png" alt=""><br>
    </div>
    <center>
    <div class="container1">
        <div class="container">

            <span>
                <div class="left_content"></div>
                <label class="form" id="customer_id" for="id">아&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;이&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;디</label>
                <input class="write" type="text" id="id" name="customer_id" value=""><br>

                <label class="form" id="customer_name" for="name">이&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;름</label>
                <input class="write" type="text" id="name" name="customer_name" value=""><br> 

                <label class="form" id="customer_resident_number" for="resident_number">주민등록&nbsp;번호</label>
                <input class="write"type="text" id="resident_number" name="customer_resident_number" value=""><br>
                
                <br>
                <br>
                <br>

                <label class="form" id="customer_password" for="password">비&nbsp;&nbsp;&nbsp;밀&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;번&nbsp;&nbsp;&nbsp;호</label>
                <input class="write" type="text" id="password" name="customer_password" value=""><br>

                <label class="form" id="password_check" for="pwcheck">비밀번호 확인</label>
                <input class="write" type="text" id="pwcheck" name="password_check" value=""><br>
                
                <br>
                <br>
                <br>

                <label class="form" id="email_form" for="email">이&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;메&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;일</label>
                <input class="write" type="text" id="email" name="email" value=""><br>

                <label class="form" id="phone_number_form" for="phone_number">연&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;락&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;처</label>
                <input class="write" type="text" id="Phone_number" name="Phone_number" value=""><br>
                </div>
            </span>

            <span>
                <div class="right_content">
                
                      
                
                
             
                </div>
            </span>
        </div>
    </div>
</center>
        
    <div class="join">
        <input class="join_btn" type="button" id="join" name="join" value="가입하기">
    </div>


    
</body>
</html> 