<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>견적 리스트 보기</title>
        <link rel="stylesheet" th:href="@{/css/mySpecification.css}"/>
    </head>
    <body>
        <div id="title">
            <button id="back" class="button-back"></button>
            <span class="title"> 내가 보낸 견적서 </span>
        </div>
        <hr />
        
        <div id="bigBox">
            <div id="main">
                <div id="card" th:each="card : ${cardList}">
                    <div id="buttonBox">
                        <button id="cardBtn" class="Margin10px" th:text="'요청 견적금액 ' + ${card.requirementPrice}" onclick="window.location.href='/viewMySpecification'"></button>
                        <img id="buttonImg" src="/img/Polygon10.png" >
                    </div>
                    <div id="cardMiddle">
                        <img id="memberImage" th:src="${'data:image/jpeg;base64,' + card.memberImg}">
                        <p>&nbsp;</p>
                        <p id="Name" th:text="${card.memberName}">&nbsp;고객님</p>
                        <p>&nbsp;/&nbsp;</p>
                        <p id="City" th:text="${card.city}"></p>
                        <p>&nbsp;</p>
                        <p id="Gu" th:text="${card.gu}"></p>
                    </div>
                    <p id="price" th:text="${card.specificationPrice}">원</p>
                </div>
            </div>
        </div>
    </body>
    
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $(document).ready(function() {
        // 버튼 클릭 이벤트 처리
        $('.button-back').click(function() {
            // 뒤로 가기 실행
            window.history.back();
        });
    });
</script>