<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>스드메이트</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" th:href="@{/css/mySpecification.css}"/>
    </head>
    <body>
        <div id="title">
            <button id="back" class="button-back"></button>
            <span class="title"> 내가 보낸 견적서 </span>
        </div>
        <hr />
        
        <div id="bigBox">
            <div id="main">
                <div id="card" th:each="card : ${cardList}">
                    <div id="buttonBox">
<!--                        <button id="cardBtn" class="Margin10px" th:text="'요청 견적금액 ' + ${card.requirementPrice}" onclick="window.location.href='/viewMySpecification'"></button>-->
                        <a id="cardBtn" th:text="'요청 견적금액 ' + ${card.requirementPrice}" th:href="@{/viewMySpecification(specificationNo=${card.specificationNo},
                                                                                                                             requirementNo=${card.requirementPk}
                                                                                                                             )}"></a>

                        <img id="buttonImg" src="/img/Polygon10.png" >
                    </div>
                    <div id="cardMiddle">
                        <img id="memberImage" th:src="${'data:image/jpeg;base64,' + card.memberImg}">
                        <span>&nbsp;</span>
                        <span id="Name" th:text="${card.memberName}">&nbsp;고객님</span>
                        <span>&nbsp;/&nbsp;</span>
                        <span id="City" th:text="${card.city} +' '+ ${card.gu}"></span>
                        <span style="width: 30px">&nbsp;</span>

                        <span id="price" th:text="${#numbers.formatDecimal(card.specificationPrice, 0, 'COMMA', 0, 'POINT')} + '원'">원</span>

                    </div>

                </div>
            </div>
        </div>
    </body>
    
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $(document).ready(function() {
        // 버튼 클릭 이벤트 처리
        $('.button-back').click(function() {
            // 뒤로 가기 실행
            window.location.href= "/planner/main";
        });
    });
</script>