<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="logout.css">
</head>
<body>
    <a href=""><img class="back_btn" src="/02. IMG/back_btn.png" alt="뒤로가기 버튼"></a>
            <center><h1 class="page_name">로그아웃</h1></center>
    <hr>
    
    <center><h3 class="logout">로그아웃 하시겠습니까?</h3></center>
    <div class="container">
    <button class="yes2">예</button>
    <button class="no">아니오</button>
    </div>

</body>
</html>