<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/join.css">
    <script src="/js/joinstyle.js"></script>

</head>
<body>
<a ><img class="back_btn" src="/img/back_btn.png" alt="뒤로가기 버튼" onclick="history.go(-1)" ></a>
<center><h1 class="page_name">스드메이트 회원가입</h1></center>
<hr>

<div class="logo">
    <img class="join_logo" src="/img/logo2.png" alt=""><br>
</div>
<form action="/planner/join" method="POST">
    <div class="container1">
        <div class="container">

            <span>
                <div class="line">
                    <label class="form" id="planner_id_form">아&nbsp;이&nbsp;디&nbsp;</label>
                    <input class="write" type="text" id="id" name="id">
                </div>
                <span th:if="${#fields.hasErrors('planner.id')}" th:errors="*{planner.id}" class="error"></span>
                <div class="emptyline"><br></div>

                <div class="id_check planner">
                        <button class="id_check_btn planner" type="button">중복확인</button>
                </div>
                <div class="emptyline"><br></div>

                <div class="line">
                    <label class="form" id="planner_name_form">이&nbsp;름&nbsp;</label>
                    <input class="write" type="text" id="name" name="name">
                </div>
                <span th:if="${#fields.hasErrors('planner.name')}" th:errors="*{planner.name}" class="error"></span>
                <div class="emptyline"><br></div>

                <div class="line">
                    <label class="form" id="planner_business_number" for="business_number">사&nbsp;업&nbsp;자&nbsp;번&nbsp;호&nbsp;</label>
                    <input class="write" type="text" id="business_number" name="business_no">
                </div>
                <span th:if="${#fields.hasErrors('planner.business_no')}" th:errors="*{planner.business_no}" class="error"></span>
                <div class="emptyline"><br></div>

                 <div class="line">
                    <label class="form" id="planner_business_name" >샹&nbsp;호&nbsp;명&nbsp;</label>
                    <input class="write" type="text" id="business_name" name="business_name">
                </div>
                <span th:if="${#fields.hasErrors('planner.business_name')}" th:errors="*{planner.business_name}" class="error"></span>
                <div class="emptyline"><br></div>

                <div class="line">
                    <label class="form" id="planner_identity_no" >생&nbsp;년&nbsp;월&nbsp;일&nbsp;</label>
                    <input class="write" type="date" id="identity_no" name="identity_no">
                </div>
                <span th:if="${#fields.hasErrors('planner.identity_no')}" th:errors="*{planner.identity_no}" class="error"></span>
                <br>
                <br>
                <br>


                <div class="line">
                    <label class="form" id="password_form" for="password">비&nbsp;밀&nbsp;번&nbsp;호&nbsp;</label>
                    <input class="write" type="password" id="password" name="pwd" >
                </div>
                <span th:if="${#fields.hasErrors('planner.pwd')}" th:errors="*{planner.pwd}" class="error"></span>
                <div class="emptyline"><br></div>

                <div class="line">
                    <label class="form" id="password_check" for="pwcheck">비&nbsp;밀&nbsp;번&nbsp;호&nbsp;확&nbsp;인&nbsp;</label>
                    <input class="write" type="password" id="pwcheck" >
                </div>
                 <span class="error" id="pwcheckerror"></span>


                <br>
                <br>
                <br>

                <div class="line">
                    <label class="form" id="email_form" for="email">이&nbsp;메&nbsp;일&nbsp;</label>
                    <input class="write" type="text" id="email" name="email">
                </div>
                <span th:if="${#fields.hasErrors('planner.email')}" th:errors="*{planner.email}" class="error"></span>
                <div class="emptyline"><br></div>
                <div class="line">
                    <label class="form" id="phone_number_form" for="phone_number">연&nbsp;락&nbsp;처&nbsp;</label>
                    <input class="write" type="text" id="Phone_number" name="phonenum" >
                </div>
                <span th:if="${#fields.hasErrors('planner.phonenum')}" th:errors="*{planner.phonenum}" class="error"></span>
                <div class="emptyline"><br></div>
                <div class="line">
                    <label class="form" id="planner_business_address" >사&nbsp;업&nbsp;장&nbsp;위&nbsp;치&nbsp;</label>
                    <input class="write" type="text" id="region" name="region" >
                </div>
                <span th:if="${#fields.hasErrors('planner.region')}" th:errors="*{planner.region}" class="error"></span>
            </span>
        </div>
    </div>


    <div class="join">
        <input class="join_btn planner" type="submit" id="join" name="join" value="가입하기">
    </div>


</form>
</body>
<script src="/js/join.js"></script>
</html> 