<p id="plannerName">플래너명</p>
<p id="ment">상담은 어떠셨나요?</p>
<div id="miniblank"></div>
<div id="checkStar">
<img src="/img/smallLogo.png" id="1" class="flower" onclick="changeFlower(event)">
<img src="/img/smallLogo.png" id="2" class="flower" onclick="changeFlower(event)">
<img src="/img/smallLogo.png" id="3" class="flower" onclick="changeFlower(event)">
<img src="/img/smallLogo.png" id="4" class="flower" onclick="changeFlower(event)">
<img src="/img/smallLogo.png" id="5" class="flower" onclick="changeFlower(event)">
<p id="checkCount">5/5</p>
</div>
<div class="miniblank"></div>
<div class="miniblank"></div>
<div class="margindiv">
<input type="checkbox" class="review" id="checkbox1" value="value1">
<label for="checkbox1"></label>
<p class="review">상담 후 견적에 대해 만족해요.</p>
</div>

<div class="miniblank"></div>

<div class="margindiv">
<input type="checkbox" class="review" id="checkbox2" value="value2">
<label for="checkbox2"></label>
<p class="review">과도한 추가금을 요구하지않아요.</p>
</div>

<div class="miniblank"></div>

<div class="margindiv">
<input type="checkbox" class="review" id="checkbox3" value="value3">
<label for="checkbox3"></label>
<p class="review">질문에 대해 상세히 답변 해줘요.</p>
</div>

<div class="miniblank"></div>

<div class="margindiv">
<input type="checkbox" class="review" id="checkbox4" value="value4">
<label for="checkbox4"></label>
<p class="review">일정 조율이 잘 됐어요.</p>
</div>

<div class="miniblank"></div>

<div class="margindiv">
<input type="checkbox" class="review" id="checkbox5" value="value5">
<label for="checkbox5"></label>
<p class="review">시간 약속을 잘 지켜요.</p>
</div>
