<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>스드메이트</title>
        <link rel="stylesheet" href="/css/sendreview.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div id="title">
            <button id="back" class="button-back"></button>
            <span class="title">계약진행 여부</span>
        </div>
        <hr />
            
         
            <div id="plannerName">
                <p class="PlannerName">플래너 이름</p>
              </div>
              
            <div id="ment">
                <p class="ment"><span>계약</span> 을 진행 하시겠습니까?</p>
              </div>
              
              <div id ="yesOrNo">
                <button class="sendRequest" id="yes">예</button>
                <button class="sendRequest" id="no">아니요</button>
              </div>
              <div id="blank"></div>
                 </body>
                 <script src="/js/sendreview.js"></script>
</html>
                