<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/start.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <header class="top" >
  <div id = userstat>
    <center>
    <span id="member">일반인 </span>
    <span>고객용</span><br/>
  
<!-- Rounded switch -->
<label class="switch">
  <input type="checkbox" class="checkbox">
  <span class="slider round"></span>
</label>
</center>
  </div>
  </header>
  <nav>
    <div class="logo member">
    </div>
    <div style="line-height: 34px;"><br></div>

    <form id = "handler" action="./login">
      <div class="loginbtndiv">
        <div class="text1">
<!--            <input type="hidden" name="userstat" value="member">-->
            <p><span class="text1bold" >일반인 고객</span>을 위한 페이지 입니다.</p>
            <p>간단한 질문들을 통하여 전문가에게</p>
            <p><span class="text1bold">다양한 견적</span>을 받아 보세요</p>
        </div>
        <input type="submit" class="loginbtn member" value="시작하기">
      </div>
    </form>
  </nav>
  <div style="line-height: 200px;"><br></div>
  <footer class="info">
    <div class="introduce">
      <a href="#">sdmate | Team introduction</a>
    </div>
  </footer>
</body>
<script src="/js/start.js"></script>
</html>